@import "reset";
@import "clearfix";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic);
.roboto{
  font-family: 'Roboto', Arial, sans-serif;
}

$contentWidth: 1000px;

.small{
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3em;
}

b, .bold{
  font-weight: 700;
}

html{
  height: 100%;
}
body{
  @extend .roboto;

  max-height: 100%;
  padding: 50px 0;
}

input, textarea, select, button, .buttons{
  @extend .roboto;

  $boxSizing: border-box;
  box-sizing: $boxSizing;
  -moz-box-sizing: $boxSizing;
  -webkit-box-sizing: $boxSizing;
  line-height: 1.1em;
}


button, .buttons{
  display: inline-block;
  padding: 8px 15px;
  border: none;
  background: #0b6da8;
  color: #fff
}

.content{
  width: $contentWidth;
  margin: 0 auto;
}

.flights{
  &.form{
    dl{
      @extend .small;

      margin-bottom: 5px;
    }
    dt{
      margin-bottom: 10px;
    }
  }
  .result{
    @extend .small;

    margin-top: 30px;
    ul{
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px #eee solid;
      &.active{
        border-color: pink;
      }
    }
    > ul{
      border: none;
    }
    li{
      margin: 2px 0;
    }
  }

  .leg{
    margin-bottom: 10px;
  }
}