@import "reset";
@import "clearfix";
@import "vars";
@import "mixins";
@import "forms";
@import "responsive";

.left{
  float: left;
}
.right{
  float: right;
}

.table{
  display: table;
  .tr{
    display: table-row;
    .td{
      display: table-cell;
      &.mid{
        vertical-align: middle;
      }
    }
  }
}

.fitted{
  width: 100%;
  img{
    max-width: 100%;
  }
}

.small{
  font-size: 12px;
  line-height: 1.3em;
}

strong, b, .bold{
  font-weight: 400;
}

.extra-bold{
  font-weight: 500;
}

.paginator{
  li{
    display: inline-block;
    float: left;
    &:first-child{
      margin-right: 5px;
    }
  }
}

body {
  @extend .font-classic;
  background-color: #fff;
}

.header{
  padding: $leading1 0;
  .logo{
    float: left;
  }
  .user-controls{
    float: right;
  }
}

.content-wrapper{
  width: $contentWidth;
  margin: 0 auto;
}

.hotels-grid{
  margin-bottom: $leading;
  .city-selector{
    margin-bottom: $leading1;
  }
  .total{
    margin-bottom: $leading;
  }
  .items {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer{
  padding: $leading1 0;
}